/* Recoloring logo */
#header .logo {
    color: white;
}

/* Hide logo on resize */
@media screen and (max-width: 320px) {
    #header .logo {
        font-size: 18px;
    }
}

@media screen and (max-width: 240px) {
    #header .logo {
        display: none;
    }
}

/* Force image to same height -> Changing parent*/
.image.fit {
    max-height: 200px;
    overflow: hidden;
}

/* Integrating cookie consent dialog */
#cookie-consent a.cookie-consent-ok {
    background-color: white;
}

#cookie-consent a.cookie-consent-ok:hover {
    background-color: #f3f3f3;
}

#cookie-consent {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

/* Reshaping of team section */
.our-team-row {
    background-color: #f3f3f3;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.our-team-card {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.our-team-row h2 {
    text-align: center;
}

.our-team-card i {
    word-wrap: break-word;
}

/* Smooth scrolling for one-page website effect*/
html {
    scroll-behavior: smooth;
}

/* Footer integrations */
#footer .copyright, #footer .copyright a, #footer .social-links a {
    color: #dbb9ba;
}

#footer {
    width: 100%;
    text-align: center;
}

#footer .social-links a {
    margin-left: 10px;
    margin-right: 10px;
}

#footer .copyright {
    margin-bottom: 1em;
}

/* Form additions */
#footer input[type="checkbox"] + label, #footer input[type="radio"] + label {
    color: white;
}

/* Thank you page */
#thank-you {
    text-align: center;
}

#thank-you .check-img {
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;
}

/* Text transforms */
h3, h4, h5, h6, label {
    text-transform: none;
}